@model IEnumerable<Product>

<div class="container">
    <h1>This is Product Page</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>File Path</th>
                <th colspan="1">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Description</td>
                    <td>
                        <img src="@item.FilePath" alt="@item.Name" width="100" />
                    </td>
                    <td>

                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                            Edit
                        </a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>